<h2>Add new game results:</h2>
<form>
  <div >
    <p><em>Did you win?</em></p>
    <label for="win_true">Yes</label>
    <input type="radio" id="win_true" name="win?" value="true">
    <label for="win_false">No</label>
    <input type="radio" id="win_false" name="win?" value="false">
  </div>
  <div>
    <p><em>Was your island healthy or blighted?</em></p>
    <label for="healthy">Healthy</label>
    <input type="radio" id="healthy" name="healthy_blighted" value="true">
    <label for="blighted">Blighted</label>
    <input type="radio" id="blighted" name="healthy_blighted" value="false">
  </div>
  <br>
  <div >
    <label for="score">Score: </label>
    <input type="text" name="score" id="score" >
  </div>
  <br>
  <div >
    <label for="adversary">Adversary: </label>
    <select type="" id="adversary" name="adversary">
      <option value="Brandenburg-Prussia">Brandenburg Prussia</option>
      <option value="England">England</option>
      <option value="Sweden">Sweden</option>
      <option value="France">France</option>
      <option value="Habsburg Monarchy">Habsburg Monarchy</option>
      <option value="Russia">Russia</option>
      <option value="Scotland">Scotland</option>
      <option value="none">none</option>
    </select>
  </div>
  <br>
  <div>
    <label for="level">Level: </label>
    <select id="level" name="level">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select>
  </div>
  <br>
  <div>
    <label for="date">Date Played (yyyy-mm-dd): </label>
    <input type="text" name="date" id="date" >
  </div>
  

  <div>
    <% 6.times do %>
    <label for="players">Player: </label>
    <select id="players" name="players">
      <option value="empty">[empty]</option>
      <% @users.each do |player| %>
        <option value=<%= player %>><%= player %></option>
      <% end %>
    </select>
    <label for="spirits">Spirit: </label>
    <select id="spirits" name="spirits">
      <option value="Shadows Flicker Like Flame">Shadows Flicker Like Flame</option>
      <option value="Starlight Seeks its Form">Starlight Seeks its Form</option>
      <option value="Thunderspeaker">Thunderspeaker</option>
      <option value="Sharp Fangs Behind the Leaves">Sharp Fangs Behind the Leaves</option>
      <option value="Lure of the Deep Wilderness">Lure of the Deep Wilderness</option>
      <option value="Volcano Looming High">Volcano Looming High</option>
      <option value="Grinning Trickster Stirs Up Trouble">Grinning Trickster Stirs Up Trouble</option>
      <option value="A Spread of Rampant Green">A Spread of Rampant Green</option>
      <option value="River Surges in Sunlight">River Surges in Sunlight</option>
      <option value="Bringer of Dreams and Nightmares">Bringer of Dreams and Nightmares</option>
    </select>

    <br>
    <% end %>
  </div>

</form>