<h2>Add new game results:</h2>
<form>
  <div >
    <p>Did you win?</p>
    <input type="radio" id="win_true" name="win?" value="true">
    <label for="win_true">Yes</label>
    <input type="radio" id="win_false" name="win?" value="false">
    <label for="win_false">No</label>
  </div>
  <div >
    <label for="score">Score: </label>
    <input type="text" name="score" id="score" >
  </div>
  <div >
    <label for="adversary">Adversary: </label>
    <select type="" id="adversary" name="adversary">
      <option value="Brandenburg-Prussia">Brandenburg Prussia</option>
      <option value="England">England</option>
      <option value="Sweden">Sweden</option>
      <option value="France">France</option>
      <option value="Habsburg Monarchy">Habsburg Monarchy</option>
      <option value="Russia">Russia</option>
      <option value="Scotland">Scotland</option>
    </select>
  </div>

  <div>
  
  </div>

</form>