<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @title %></title>
  </head>
  <body>
    <% if session[:error] %>
      <p><%= session.delete(:error) %></p>
    <% end %>
    <% if session[:success] %>
      <p><%= session.delete(:success) %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
